.endOfGame {
  display: inline-flex;
  height: 803px;
  gap: 80px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.winnerContainer {
  display: flex;
  padding: 32px 64px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  border-radius: 12px;
  border: 5px solid var(--dark);
}

.winnerText {
  color: var(--dark);
  text-align: center;
  font-family: "Fredoka One";
  font-size: 36px;
}

.winnerName {
  color: var(--dark);
  text-align: center;
  font-family: "Fredoka One";
  font-size: 24px;
}

.scoreboardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.cardContainer {
  display: flex;
  align-items: center;
  gap: 32px;
}
