.tile {
  display: flex;
  /* width: 360px; */
  /* height: 160px; */
  padding: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 12px;
}

.actionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.textInput {
  padding: 2px 10px;
  border-radius: 12px;
  text-align: center;
  font-family: "Fredoka One";
  font-size: 24px;
  width: fit-content;
}
.textInput::placeholder {
  text-align: center;
  font-family: "Fredoka One";
  font-size: 24px;
}

.green::placeholder {
  color: var(--player-green-dark);
}
.purple::placeholder {
  color: var(--player-purple-dark);
}
.blue::placeholder {
  color: var(--player-blue-dark);
}
.orange::placeholder {
  color: var(--player-orange-dark);
}

.saveButton {
  display: flex;
  padding: 12px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  color: var(--player-green-dark, #238201);
  text-align: center;
  font-family: "Fredoka One";
  font-size: 12px;
}
