.onboardingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin: 64px 0;
}

.playerContainer {
  display: flex;
  max-width: 800px;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 16px;
  align-self: stretch;
  flex-wrap: wrap;
  margin: 0 auto;
}

.rounds {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}

.roundsText {
  color: var(--dark);
  text-align: center;
  font-family: "Fredoka One";
  font-size: 24px;
}

.button {
  display: flex;
  flex-direction: row;
  width: 280px;
  height: 88px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  border: 5px solid var(--grey);
  background: var(--dark);
  color: var(--grey);
}
