:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* system colors */
  --white: #f1f3ff;
  --ice: #d5e4f9;
  --grey: #a6a9b1;
  --dark: #2d344b;
  --danger: #eb8383;

  /* player colors */
  --player-orange: #f8d29c;
  --player-orange-dark: #965700;
  --player-green: #b4f19f;
  --player-green-dark: #238201;
  --player-blue: #8caedd;
  --player-blue-dark: #24426d;
  --player-purple: #b48fd9;
  --player-purple-dark: #4d2575;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

p,
h2 {
  font-family: "Fredoka One", sans-serif;
  margin: 0;
}
